* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/*section-img-tyles */
.img-1 {
    display: flex;
    max-width: 1400px;

}

.img-only {
    height: 50%;
    width: 50%;
    margin-top: 90px;
    margin-left: 30px;




}

.img-all-text {
    width: 50%;
    margin-top: 250px;
    margin-left: 150px;
    padding-bottom: 200px;

}

.img-title {
    font-weight: 700;
    font-size: 40px;
    /* Dark 01 */
    color: #151414;
    width: 50%;

}

.img-description {
    font-weight: 400;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 70%;
    margin-left: 5px;
}

.paragraf-move {
    margin-left: 20px;
    margin-bottom: 10px;
}

.thik-style {
    display: inline-block;
    height: 16px;
    width: 10px;
    border-bottom: 2px solid chartreuse;
    border-right: 2px solid chartreuse;
    transform: rotate(45deg);
    margin-right: 15px;
}